.Card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 150px;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
}

.Card.content {
  color: red;
  border: solid 1px gray;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.Card.empty {
  color: gray;
  font-size: 50px;
  border: dashed 1px gray;
}

.Card.select {
  border: solid 2px #0aa9ec;
}

.Card .Card_details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.Card .Card_details .Card_details_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
